*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ffffff;
}
p{
    text-align: center;
    padding: 5px;
    font-family: Verdana, sans-serif;
}
ul{
    width: 100%;
    text-align: center;
    background-color: black;
    position: fixed;
}
ul li {
    list-style: none;
    display: inline-block;
    line-height: 30px;

}
ul li a{
    display: block;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    border-color: red;
    padding: 20px;}
ul li :hover{
    background:#333;
}
h2{
    font-family: 'Ubuntu', sans-serif;
    display: inline;
}
.LargeText{
    padding: 1px;
    padding-bottom: 10px;
    font-family: 'Verdana', sans-serif;
    float: center;
    width: 550px;
    
}
* {box-sizing:border-box}

.slideshow-container {
    width: 500px;
    height: 400px;
    max-width: 500px;
    max-height: 400px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
    float:center;
}
.autoslides{
    display: none;
    float:center;
    padding:10px;
    
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
    color: black;
    font-size: 30px;
    padding: 2px 2px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30%;
    text-align: center;
    background: rgba(0,0,0,0.4)
}

.dot {
    cursor:pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.menubar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;}
.pFormat{
    background: #ffffff;
    outline: 1px solid black;
    font-size: 20px;
    padding: 10px;
}
    
